#!/usr/bin/env ruby

require 'json'

compile '/pkgs/*.json-html' do
  layout '/package.html'
  write '/' + File.basename(item.identifier.without_ext) + '/index.html'
end

compile '/about.html' do
  filter :erb
  layout '/about.html'
  write '/about/index.html'
end

compile '/index.html' do
  filter :erb
  layout '/default.html'
  write '/index.html'
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
