#!/usr/bin/env ruby

# FIXME There must be a better way, this one is awkward and slow
compile '/pkgs/*.json-html' do
  layout '/package.html'
  write '/' + pkg_name + '/index.html'
end

compile '/about.html' do
  filter :erb
  layout '/about.html'
  write '/about/index.html'
end

compile '/index.html' do
  filter :erb
  layout '/default.html'
  write '/index.html'
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
