<% Dir.chdir "content" %>

<div class="container">
  <table>
    <thead>
      <tr>
        <th>Emacs Lisp Package Archive</th>
        <th>Packages</th>
      </tr>
    </thead>
    <tbody>
      <tr><td><a href="https://elpa.gnu.org/">GNU ELPA</a></td><td><%= count_json "gnu.json" %></td></tr>
      <tr><td><a href="https://melpa.org/">MELPA</a></td><td><%= count_json "melpa.json" %></td></tr>
      <tr><td><a href="https://stable.melpa.org/">MELPA Stable</a></td><td><%= count_json "melpa-stable.json" %></td></tr>
      <tr><td><a href="https://marmalade-repo.org/">Marmalade</a></td><td><%= count_json "marmalade.json" %></td></tr>
      <tr><td><a href="http://orgmode.org/elpa.html">Org ELPA</a></td><td><%= count_json "org.json" %></td></tr>
      <tr><td><a href="http://joseito.republika.pl/sunrise-commander/">Sunrise Commander ELPA</a></td><td><%= count_json "sunrise-commander.json" %></td></tr>
      <tr><td><a href="http://user42.tuxfamily.org/elpa/index.html">User42 ELPA</a></td><td><%= count_json "user42.json" %></td></tr>
      <tr><td><a href="https://github.com/emacs-china/emacswiki-elpa">EmacsWiki ELPA</a></td><td><%= count_json "emacswiki.json" %></td></tr>
    </tbody>
    <tbody>
      <tr><td>Totals <i>(A package on mulitple ELPAs counts one)</i></td><td><%= count_json "all.json" %></td></tr>
    </tbody>
  </table>
</div>

<% Dir.chdir ".." %>
