<div class="wrapper">
  <div class="container">
    <h1 class="center">Packages make Emacs do amazing things</h1>
    <table>
      <tr><th>Package</th><th>Description</th></tr>

      <% JSON.parse(open('all.json').read).each do |k, v| %>
      <tr><td><%= k %></td><td><%= h(v['desc']) %></td></tr>
      <% end %>

    </table>
  </div>

  <div class="footer">
    <div class="container">
      <p>Copyright 2016 <a href="https://emacs-china.org">Emacs China</a>.</p>
      <p>Site inspired by <a href="https://elpa.gnu.org/packages/">GNU ELPA Packages</a>.</p>
      <p>Packages data provided by <a href="https://elpa.emacs-china.org">Emacs China ELPA Mirrors</a>.</p>
    </div>
  </div>

</div>
