<div class="wrapper" ng-controller="MainCtrl">
  <div class="container">
    <h1 class="center">Packages make Emacs do amazing things</h1>

    <p class="filter-table">
      <input type="search" placeholder="Search {{count()}} packages across 7 ELPA..." name="" ng-model="keyword" ng-change="filter(keyword)">
    </p>

    <table>
      <tr><th>Package</th><th>Description</th></tr>

      <tr class="visible" style="display: table-row;" ng-repeat="(name, package) in packages">
        <td class="alt"><a href="{{::package.props.url}}">{{::name}}</a></td>
        <td class="alt">{{::package.desc}}</td>
      </tr>

    </table>
  </div>

  <div class="footer">
    <div class="container">
      <p>Copyright 2016 <a href="https://emacs-china.org">Emacs China</a>.</p>
      <p>Site inspired by <a href="https://elpa.gnu.org/packages/">GNU ELPA Packages</a>.</p>
      <p>Packages data provided by <a href="https://elpa.emacs-china.org">Emacs China ELPA Mirrors</a>.</p>
    </div>
  </div>

</div>
