body {
  line-height: 1.4em;
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1.center {
  text-align: center;
}

.nav {
  width: 960px;
  margin: 0 auto;
}

.container {
  padding: 20px;
  width: 960px;
  margin: 0 auto;
}

input[type="search"] {
  border: 3px solid #ddd;
  padding: 10px;
  width: 100%;
  font-size: 1.1em;
  background: #fcfcfc;
}

input[type="search"]:focus {
  border-color: #bbb;
  background: #fafafa;
}

input[type="search"][placeholder] {
  color: #666;
}

table {
  width: 100%;
}

td, th {
  padding: 6px;
}

th {
  text-align: left;
  border-bottom: 2px solid #ddd;
  background: #fafafa;
  font-weight: bold;
}

td {
  border-bottom: 1px solid #ddd;
}

pre {
  background: #fafafa;
  padding: 15px;
  border: 1px solid #dadada;
  overflow-y: auto;
}

.footer {
  border-top: 1px solid #999;
  text-align:center;
  font-size: 0.9em;
  background-color: #eee;
  color: #666;
}

.footer .container {
  padding: 15px 0;
}

.footer p {
  margin: 0;
  font-size: .8em;
  padding: 0;
  line-height: 1.4em;
}

.pagination-bar {
    margin-top: 15px;
}

.pagination-button {
    margin-right: -1px;
}

.pagination-button a {
    padding: 2px 7px;
    border: 1px solid #e0e0e0;
    text-decoration: none;
    color: #666;
}

.pagination-button[disabled] {
  cursor: not-allowed;
}

.pagination-button[disabled] > a {
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pagination-button-active a {
    background-color: #e0e0e0;
}

.pagination-button a:hover {
    background-color: #ececec;
}

.pagination-input {
    font-size: 16px;
    float: right;
}

.pagination-input input {
    width: 30px;
    height: 21px;
    font-size: 16px;
    text-align: right;
}