body {
  line-height: 1.4em;
  font-size: 1.2em;
}

h1.center {
  text-align: center;
}

.container {
  padding: 20px;
  width: 960px;
  margin: 0 auto;
}

input[type="search"] {
  border: 3px solid #ddd;
  padding: 10px;
  width: 100%;
  font-size: 1.1em;
  background: #fcfcfc;
}

input[type="search"]:focus {
  border-color: #bbb;
  background: #fafafa;
}

input[type="search"][placeholder] {
  color: #666;
}

.filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
.fitler-table .quick:hover { text-decoration: underline; }
td.alt { background-color: #ffc; background-color: rgba(255, 255, 0, 0.2); }

td, th {
  padding: 6px;
}

th {
  text-align: left;
  border-bottom: 2px solid #ddd;
  background: #fafafa;
  font-weight: bold;
}

td {
  border-bottom: 1px solid #ddd;
}
